
*{
  margin-left: 1rem; 
  margin-right: 1rem;
  box-sizing: border-box;
  } 
  
  html {
    scroll-behavior: smooth;
  }
  
  .img{
      height: 5rem;
      width: 8rem;
     
  }
  
  .nav{
      font-size: 1.5rem;
      text-decoration: none;
      color: rgb(243, 245, 241);
      
      
     
      }
  
  .Menu{
      
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      background-color: rgb(96, 92, 97);
      line-height: 2.5rem;
      overflow: hidden;
      position: sticky;
      top: 0;
      border-bottom: 1px solid gray;
      z-index:1;
      
      }
  .burger-menu
        {
          display: none;
          
        }

  .nav:hover{
    color: red;
  }

  .home-text{
    margin-top: 4rem;
    
    }
  .home-text h2{
    color:red;
  }
  .home-text :nth-child(3){
    color : gray;
  }

  .home-img img{
    height: 20 rem;
    width: 20rem;
    border-radius: 40%;

  }

  .home-main
  {
    display: block;
    justify-content: space-between;
  }

  .sicon{
       
    display: grid;
    height: 100vh;
    align-content: center;
    position: absolute;
    top: 1px;
    right: 1px;
    position: fixed;

    font-size: 30px;
    gap: 6px;
    transform: translate(200px);
    }

    .sicon .f
    {
      /* border: 1px solid rgb(26, 26, 198); */
      background-color: rgb(14, 146, 212);
      border-radius: 2px;
      width: 250px;
     

    }
    .sicon .f a{
      text-decoration: none;
      color: white;
      
      
    }

    .sicon .l a{
      text-decoration: none;
      color: white;
      
    }

    .sicon .w a{
      text-decoration: none;
      color: white;
      
    }
    .sicon .l
    {
      /* border: 1px solid rgb(38, 15, 211); */
      background-color: rgb(17, 39, 151);
      border-radius: 2px;
      width: 250px;

    }
    .sicon .w 
    {
      /* border: 1px solid rgb(23, 191, 74); */
      background-color: rgb(7, 180, 4);
      border-radius: 2px;
      width: 250px;

    }
    .sicon .e 
    {
      /* border: 1px solid rgb(23, 191, 74); */
      background-color: rgb(225, 19, 60);
      border-radius: 2px;
      width: 250px;

    }
    .sicon .e a{
      text-decoration: none;
      color: rgb(247, 245, 245);
      
    }

    .sicon .f:hover{
        transform: translate(-150px,0);
        transition: 1s;
        transition-property: transform;
    }

    .sicon .l:hover{
      transform: translate(-150px,0);
      transition: 1s;
      transition-property: transform;
      }

  .sicon .w:hover{
    transform: translate(-150px,0);
    transition: 1s;
    transition-property: transform;
    }

    .sicon .e:hover{
      transform: translate(-150px,0);
      transition: 1s;
      transition-property: transform;
      }
    

    .about-1
    {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      text-align: center;
      color: blueviolet;
      
    }
    .about-2
    {
      display: flex;
      align-items: center;
      text-align: center;
     justify-content: center;
      
      
    }

   .ex-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
   }

   .ex-main .ex-1
   {
    height: 10rem;
    width: 15rem;
    
   }

   .ex-1:hover
   {
    animation: rotation 10s infinite linear;
   }
   @keyframes rotation{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
   }
   

   .ex-main h2{
    text-align: center;
   }

   .contact-form{
    display: grid;
    width: 50%;
    margin: auto auto;
    margin-top: 2rem; 
     }

     .contact-form input[type = text], [type = email], textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
       }



   .sr-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
   }

   .sr-main .sr-1
   {
    height: 15rem;
    width: 22rem;
    
   }

   .sr-main img:hover{
    box-sizing: border-box;
    border: 2px solid red;
   }

   .sr-main h2{
    text-align: center;
   }

   .footer{
   background-color: black;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));

    
    
  }

  .footer h2{
    text-align: center;
       
  }

  .footer ul {
    text-align: center; 
  }

  .footer ul li{
    list-style-position: inside;
    }
  
   
   


















 
  @media screen and (max-width: 500px)
  {
    *{
      margin-left: 2px;
      margin-right: 2px;
      } 
        .Menu_active{
          background-color: rgb(113, 89, 124);
          display: grid;
          line-height:2rem;
          height: fit-content;
          
          }

        .Menu{
          background-color: azure;
          display: none;   
         }

         .nav{
         font-size: medium;
         }

        .burger-menu
        {
          display: block;
          cursor: pointer;
        }

       .ex-main{
          display: grid;
          justify-content: center;
          align-items: center;
          margin-top: 10rem;
         }

         .sr-main{
          display: grid;
          justify-content: center;
          align-items: center;
          margin-top: 10rem;
         }

         

         .sicon{
       
          transform: translate(210px);
         
          
          
          }
          .home-img img{
            height: 10rem;
            width: 10rem;
            border-radius: 40%;
        
          }

          .contact-form{
            display: grid;
            width: 95%;
            margin: auto auto;
            margin-top: 5rem; 

          
        
           }
          .about{
            display: grid;
           gap:25px ;
            background-color: antiquewhite;
           }

}
  
